
.idea/vcs.xml
.idea/moon_rover_tesp2024.iml
.idea/modules.xml
.idea/misc.xml
.idea/jupyter-settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
*.pyc
